body,
html {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

ul {
    padding: 0;
    margin: 0;
}

.clear_float:after {
    display: block;
    content: "";
    clear: both;
}

.pointer {
    cursor: pointer;
}

.page_all {
    max-width: 1920px;
    min-width: 1375px;
    overflow: hidden;
    /* 已完成 */
    max-width: 1920px;
    min-width: 1200px;
    overflow: hidden;
}

.page_title,
.page_body,
.page_foot {
    display: block;
    width: 100%;
    min-width: 1000px;
    /*max-height: 1080px;*/
    overflow: hidden;
}



/*.page_title{
    margin-bottom: -80px;
}
.title_top{
    position: fixed;
    z-index: 2;
    width: 100%;
    min-width: 1280px;
    height: 80px;
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    !*top: 20px;*!
}
.title_top:after{
    display: block;
    content: "";
    clear: both;
}
.title_logo{
    float: left;
    height: 40px;
    line-height: 80px;
    margin: 20px 0 0 15%;
}
.title_link{
    float: right;
    list-style: none;
    !*line-height: 80px;*!
    font-size: 18px;
    min-height: 18px;
    margin: 0 8% 0 0;
    !*margin-right: 8%;*!
}
.title_link>li{
    float: left;
    font-size: 18px;
}
.title_link>li>a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    height: 80px;!*40px*!
    line-height: 100px;!*40px*!
    padding: 0 30px;
    !*border-radius: 5px;*!
    -webkit-transition: background-color 300ms, color 300ms;
    -moz-transition: background-color 300ms, color 300ms;
    -ms-transition: background-color 300ms, color 300ms;
    -o-transition: background-color 300ms, color 300ms;
    transition: background-color 300ms, color 300ms;
}
.title_link>li>a:hover{
    color: #f2f8fa;
    background-color: rgba(0,174,255,0.3);
}
.title_link>li:nth-of-type(2):hover>.IT_services_link{
    !*display: block;*!
    height: 80px;
}
.title_link>li:nth-of-type(3):hover>.IT_services_link{
    !*display: block;*!
    height: 120px;
}
.title_link>li:nth-of-type(4):hover>.IT_services_link{
    !*display: block;*!
    height: 160px;
}
.IT_services_link{
    !*display: none;*!
    height: 0;
    width: 150px;
    position: absolute;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms;
    box-shadow: 0 0 5px 0 rgba(82, 82, 82, 0.2);
}
.IT_services_link>a{
    display: inline-block;
    width: 90%;
    line-height: 40px;
    padding-left: 10%;
    !*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*!
    font-size: 14px;
}
.IT_services_link>a:hover{
    background-color: #f5f5f5;
    !*font-weight: bold;*!
}
.title_bot{
    position: relative;
    top: -80px;
}*/




.ad {
    height: 80px;
    width: 100%;
    background-color: #245bae;
    color: #ffffff;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms;
}

.ad>span {
    display: inline-block;
    width: 97%;
    height: 40px;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
}

.ad_cancel {
    width: 15px;
    height: 14px;
    border: none;
    background: url("../img/index/cancel-1.png") no-repeat;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
    background-size: cover;
}


.page_head {
    position: absolute;
    z-index: 2;
    top: 80px;
    width: 100%;
    min-width: 1280px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    /*top: 20px;*/
    /*box-shadow: 0 0 10px 0 rgba(84, 95, 111, 0.3);*/
    /* 已完成 */
    position: absolute;
    z-index: 2;
    top: 80px;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    /*top: 20px;*/
    /*box-shadow: 0 0 10px 0 rgba(84, 95, 111, 0.3);*/
}

.page_head>div {
    width: 1200px;
    margin: auto;
}

.head_logo {
    float: left;
    height: 60px;
    margin-top: 15px;
}

.page_head>div>div {
    float: right;
}

.head_link {
    float: left;
    list-style: none;
    font-size: 18px;
    min-height: 18px;
    padding: 0;
    margin: 0;
}

.head_link>li {
    float: left;
    font-size: 18px;
}

.head_link>li>a {
    text-decoration: none;
    display: block;
    color: #ffffff;
    height: 80px;
    /*40px*/
    line-height: 90px;
    /*100px*/
    padding: 0 30px;
    font-size: 24px;
    /*border-radius: 5px;*/
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

.head_link>li>a:hover {
    color: #f7941e;
}

.search {
    float: left;
    width: 26px;
    height: 80px;
    overflow: hidden;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -ms-transition: width 300ms;
    -o-transition: width 300ms;
    transition: width 300ms;
}

.search>div {
    float: right;
    width: 453px;
    margin-top: 27px;
}

.search_cancel,
.search_keyword,
.search_submit {
    /*float: left;*/
    border: none;
    outline: none;
    vertical-align: middle;
}

.search_cancel {
    width: 18px;
    height: 17px;
    background: url("../img/index/cancel-1.png") no-repeat 100%/100%;
    cursor: pointer;
}

.search_keyword {
    width: 380px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 1px solid #ffffff;
}

.search_submit {
    width: 25px;
    height: 26px;
    background: url("../img/index/search-2.png") no-repeat 100%/100%;
    cursor: pointer;
}






.banner2_link,
.banner3_link,
.banner4_link {
    position: absolute;
    display: block;
    width: 150px;
    height: 50px;
    color: #ffffff;
    background-color: #f5a83e;
    -webkit-transition: background-color 500ms, box-shadow 300ms;
    -moz-transition: background-color 500ms, box-shadow 300ms;
    -ms-transition: background-color 500ms, box-shadow 300ms;
    -o-transition: background-color 500ms, box-shadow 300ms;
    transition: background-color 500ms, box-shadow 300ms;
    font-size: 23px;
    line-height: 50px;
    text-align: center;
}

.banner2_link:hover,
.banner3_link:hover,
.banner4_link:hover {
    background-color: #f59716;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 50, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 6px rgba(50, 50, 50, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 6px rgba(50, 50, 50, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.banner2_link {
    bottom: 30%;
    left: 10%;
}

.banner3_link {
    bottom: 15%;
    right: 15%;
}

.banner4_link {
    bottom: 20%;
    right: 12%;
}

/*.swiper-container {
    min-width: 1000px;
    max-height: 1080px;
    overflow: hidden;
}*/
.swiper-button-prev-banner {
    background-image: url("../img/index/swiper-button-prev.png");
}

.swiper-button-next-banner {
    background-image: url("../img/index/swiper-button-next.png");
}

.tb_banimg {
    display: block;
    width: 100%;
    -webkit-transition: transform 500ms;
    -moz-transition: transform 500ms;
    -ms-transition: transform 500ms;
    -o-transition: transform 500ms;
    transition: transform 500ms;
}

.tb_banimg:hover {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.swiper-slide [name~=inner_img] {
    position: absolute;
}

.swiper-slide1:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.swiper-slide1:hover div {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}
/*.swiper-slide1:hover img:nth-of-type(4){
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}*/
.tb_banimg11 {
    bottom: 5%;
    right: 0;
    width: 60%;
    -webkit-transition: transform 700ms;
    -moz-transition: transform 700ms;
    -ms-transition: transform 700ms;
    -o-transition: transform 700ms;
    transition: transform 700ms;
}

.tb_banimg12 {
    top: 32%;
    right: 0;
    width: 41%;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.tb_banimg13 {
    bottom: 18%;
    left: 11%;
    width: 40%;
    -webkit-transition: transform 1.5s;
    -moz-transition: transform 1.5s;
    -ms-transition: transform 1.5s;
    -o-transition: transform 1.5s;
    transition: transform 1.5s;
}

.swiper-slide2:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.swiper-slide2:hover img:nth-of-type(3) {
    height: 42%;
}

.swiper-slide2:hover img:nth-of-type(4) {
    opacity: 1;
}

.tb_banimg21 {
    top: 26%;
    right: 7%;
    width: 40%;
    -webkit-transition: transform 700ms;
    -moz-transition: transform 700ms;
    -ms-transition: transform 700ms;
    -o-transition: transform 700ms;
    transition: transform 700ms;
}

.tb_banimg22 {
    right: 10%;
    bottom: 30%;
    width: 33%;
    height: 0;
    -webkit-transition: transform 1s, height 1.2s;
    -moz-transition: transform 1s, height 1.2s;
    -ms-transition: transform 1s, height 1.2s;
    -o-transition: transform 1s, height 1.2s;
    transition: transform 1s, height 1.2s;
}

.tb_banimg23 {
    top: 23%;
    right: 5%;
    width: 43%;
    opacity: 0;
    -webkit-transition: transform 1.5s, opacity 1.5s;
    -moz-transition: transform 1.5s, opacity 1.5s;
    -ms-transition: transform 1.5s, opacity 1.5s;
    -o-transition: transform 1.5s, opacity 1.5s;
    transition: transform 1.5s, opacity 1.5s;
}

.swiper-slide3:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.swiper-slide3:hover img:nth-of-type(2) {
    bottom: 18%;
}

.swiper-slide3:hover img:nth-of-type(3) {
    bottom: 28%;
}

.swiper-slide3:hover img:nth-of-type(4) {
    bottom: 39%;
}

.swiper-slide3:hover img:nth-of-type(5) {
    bottom: 53%;
}

.swiper-slide3:hover img:nth-of-type(6) {
    height: 37.5%;
    opacity: 1;
}

.tb_banimg31 {
    left: 13%;
    bottom: 17%;
    width: 28%;
    -webkit-transition: transform 1.5s, bottom 2s;
    -moz-transition: transform 1.5s, bottom 2s;
    -ms-transition: transform 1.5s, bottom 2s;
    -o-transition: transform 1.5s, bottom 2s;
    transition: transform 1.5s, bottom 2s;
}

.tb_banimg32 {
    left: 13%;
    bottom: 22%;
    width: 32%;
    -webkit-transition: transform 1.5s, bottom 1.5s;
    -moz-transition: transform 1.5s, bottom 1.5s;
    -ms-transition: transform 1.5s, bottom 1.5s;
    -o-transition: transform 1.5s, bottom 1.5s;
    transition: transform 1.5s, bottom 1.5s;
}

.tb_banimg33 {
    left: 11%;
    bottom: 26%;
    width: 35%;
    -webkit-transition: transform 1.5s, bottom 1s;
    -moz-transition: transform 1.5s, bottom 1s;
    -ms-transition: transform 1.5s, bottom 1s;
    -o-transition: transform 1.5s, bottom 1s;
    transition: transform 1.5s, bottom 1s;
}

.tb_banimg34 {
    left: 6%;
    bottom: 35%;
    width: 41%;
    -webkit-transition: transform 1.5s, bottom 500ms;
    -moz-transition: transform 1.5s, bottom 500ms;
    -ms-transition: transform 1.5s, bottom 500ms;
    -o-transition: transform 1.5s, bottom 500ms;
    transition: transform 1.5s, bottom 500ms;
}

.tb_banimg35 {
    left: 36%;
    bottom: 29%;
    width: 14%;
    height: 20%;
    opacity: 0;
    -webkit-transition: transform 1.5s, height 1.5s, opacity 2s;
    -moz-transition: transform 1.5s, height 1.5s, opacity 2s;
    -ms-transition: transform 1.5s, height 1.5s, opacity 2s;
    -o-transition: transform 1.5s, height 1.5s, opacity 2s;
    transition: transform 1.5s, height 1.5s, opacity 2s;
}

.swiper-slide4:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.swiper-slide4:hover img:nth-of-type(3) {
    opacity: 1;
}

.tb_banimg41 {
    top: 30%;
    left: 9%;
    width: 30%;
    -webkit-transition: transfor 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.tb_banimg42 {
    top: 26%;
    left: 7%;
    width: 30%;
    opacity: 0;
    -webkit-transition: transform 2s, opacity 2s;
    -moz-transition: transform 2s, opacity 2s;
    -ms-transition: transform 2s, opacity 2s;
    -o-transition: transform 2s, opacity 2s;
    transition: transform 2s, opacity 2s;
}

.swiper-slide5:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.tb_banimg51 {
    right: 1%;
    bottom: 10%;
    width: 55%;
    -webkit-transition: transfor 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.swiper-slide6:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
}

.tb_banimg61 {
    left: 6%;
    bottom: 15%;
    width: 70%;
    -webkit-transition: transfor 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
}

.body_course {
    overflow: hidden;
}

.body_course_list {
    width: 1375px;
    margin: auto;
    /* 已完成 */
    width: 1200px;
    margin: auto;
}

.body_course_list_left {
    float: left;
    width: 450px;
    /* 已完成 */
    float: left;
    width: 327px;
}

.body_course_list_select {
    list-style: none;
    width: 100%;
}

.body_course_list_select>li {
    display: inline-block;
    width: 100%;
    height: 70px;
    line-height: 70px;
    border-bottom: 1px solid #ffffff;
    box-sizing: border-box;
}

.body_course_list_select>li>span {
    display: inline-block;
    /* font-family: PingFang-SC-Medium, serif; */
    color: #ffffff;
    font-size: 18px;
    margin-left: 25px;
    width: 390px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    /* 已完成 */
    display: inline-block;
    /* font-family: PingFang-SC-Medium, serif; */
    color: #ffffff;
    font-size: 18px;
    margin-left: 25px;
    width: 267px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.body_course_list_select>li>div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
}
.body_course_list_right {
    float: left;
    width: calc(100% - 362px);
    margin: 0 0 0 15px;
}

.body_course_list_top {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
}
.body_course_list_but{
    position: relative;
    margin: 0 auto;
    
}
.body_course_list_top_select {
    list-style: none;
}

.body_course_list_top_select>li {
    float: left;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    box-sizing: border-box;
    margin-right: 30px;
    color: #333333;
    cursor: pointer;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.body_course_list_top_select>li:hover {
    color: #1066fe;
    border-bottom: 5px solid #1066fe;
}

.body_course_list_top_select>.body_course_list_top_select_active {
    color: #1066fe;
    border-bottom: 5px solid #1066fe;
}

.swiper-slide-course {
    border: 1px solid #cccccc;
    height: 275px;
    margin: 16px 0px 0px 0px;
}

.course_card {
    box-sizing: border-box;
    width: 187px;
    margin-right: 20px;
}

.course_card>a>img {
    width: 100%;
    height: 115px;
    margin-bottom: 20px;
}

.course_card>a>span {
    display: inline-block;
    width: calc(100% - 20px);
    margin: 0 10px;
    font-family: MicrosoftYaHei, serif;
    font-size: 14px;
    line-height: 30px;
    max-height: 60px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    color: #8d8d8d;
}

.course_card>a>span:first-of-type {
    font-size: 16px;
    font-weight: bold;
}
.swiper-button-prev-course {
    position: absolute;
    left: -16px;
    width: 31px;
    height: 31px;
    background: url("../img/index/c-p-1.png") no-repeat 100%;
}

.swiper-button-next-course {
    position: absolute;
    right: -16px;
    width: 31px;
    height: 31px;
    background: url("../img/index/c-p-2.png") no-repeat 100%;
}
.swiper-button-prev-course1 {
    position: absolute;
    left: 0px;
    width: 31px;
    height: 31px;
    background: url("../img/index/c-p-1.png") no-repeat 100%;
}

.swiper-button-next-course1 {
    position: absolute;
    right: 0px;
    width: 31px;
    height: 31px;
    background: url("../img/index/c-p-2.png") no-repeat 100%;
}
.body_course_more {
    text-align: center;
    color: #999999;
    margin: 25px 0 40px 0;
}

.body_course_more>* {
    vertical-align: middle;
    cursor: pointer;
}

.body_course_more>div {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 2px solid #999999;
    border-right: 2px solid #999999;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
}






.body_develop {
    background: #f9f9f9;
    overflow: hidden;
}

.body_develop_list {
    /* width: 1375px; */
    width: 1280px;
    border: solid 1px #e5e5e5;
    margin: 0 auto 60px auto;
    /* 已完成 */
    width: 1200px;
    border: solid 1px #e5e5e5;
    margin: 0 auto 60px auto;
}

.body_develop_list_left {
    float: left;
    width: 320px;
}

.body_develop_list_left>ul>li {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    box-sizing: border-box;
}

.body_develop_list_left>ul>li:last-of-type {
    border-bottom: none;
}

.body_develop_list_left li>* {
    vertical-align: middle;
}

.body_develop_list_left li>img {
    margin-left: 15px;
}

.body_develop_list_left li>span {
    margin-left: 20px;
}

.body_develop_list_left>ul>.body_develop_list_li_active {
    border-left: 5px solid #1066fe;
    border-right: none;
    background-color: #ffffff;
}

.body_develop_list_right {
    float: left;
    width: calc(100% - 320px);
    height: 480px;
    background-color: #ffffff;
}

.body_develop_list_right>div {
    float: left;
    width: 45%;
    margin-left: 3.3%;
    height: 480px;
}

.body_develop_list_right>div:first-of-type>img {
    margin: 90px 0 30px 0;
}

.body_develop_list_right>div:last-of-type>img {
    margin-top: 95px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(22, 23, 25, 0.18);
}

.body_develop_list_right>div>div {
    /* font-family: PingFang-SC-Medium,serif; */
    line-height: 36px;
    color: #666666;
}







.body_table {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.pb_btitle {
    display: block;
    height: 90px;
    width: 100%;
}

.pb_btitle>span:last-of-type {
    position: relative;
    top: -15px;
}

.pb_btitle_top {
    margin-top: 55px;
    /*110px*/
}

.pb_btitle_bot {
    margin-top: 40px;
}

.pb_btitle_bot>span {
    color: #ffffff;
}

.pb_zs {
    text-align: center;
}

.bb_banimg {
    height: 210px;
}

.pb_btitle>span {
    display: block;
    width: 100%;
    text-align: center;
}

.pb_btitle>span:first-of-type {
    font-size: 40px;
    line-height: 40px;
    opacity: 0.2;
}

.pb_btitle>span:last-of-type {
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
}

.pb_btop {
    width: 1375px;
    margin: 0 auto;
    /* 已完成 */
    width: 1200px;
    margin: 0 auto;
}

.pb_list {
    padding: 0;
    list-style: none;
    width: 100%;
    height: 38px;
    border-bottom: 2px solid #f5f5f5;
    margin-bottom: 30px;
}

.pb_list>li {
    float: left;
    font-size: 18px;
    color: #666666;
    margin: 0 20px;
    height: 34px;
    transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    cursor: pointer;
}

.pb_list>li:hover {
    color: #ff9934;
    border-bottom: 4px solid #ff9934;
}

.pb_list>.pb_list_active {
    color: #ff9934;
    border-bottom: 4px solid #ff9934;
}

/*.pb_list>li>span{
    cursor: default;
}*/
.cases_box {
    height: 170px;
    border: solid 1px #dcdcdc;
    box-sizing: border-box;
    /* 已完成 */
    height: 147px;
    border: solid 1px #dcdcdc;
    box-sizing: border-box;
}

.cases_box>a {
    display: inline-block;
    width: 100%;
    height: 170px;
    /* 已完成 */
    display: inline-block;
    width: 100%;
    height: 100%;
}

.cases_box img {
    width: 100%;
    max-height: 170px;
    vertical-align: middle;
}

/*.pb_tab{
    box-sizing: border-box;
    width: 900px;
    height: 360px;
    background-color: white;
    border-bottom: 5px solid #f5f5f5;
    border-right: 5px solid #f5f5f5;
    border-collapse:collapse;
}
.pb_tab td{
    text-align: center;
    box-sizing: border-box;
    border-top: 5px solid #f5f5f5;
    border-left: 5px solid #f5f5f5;
}
.pb_tab td img{
    height: 160px;
}
.pb_more{
    position: relative;
    right: -1200px;
    top: -25px;
    font-size: 18px;
    color: #666666;
}*/
.body_banner {
    width: 100%;
    height: 400px;
    background-image: url("../img/index/banner-bg.png");
    overflow: hidden;
}

.body_banner_teacher {
    background-color: #fafafa;
    overflow: hidden;
}

.pb_teacher {
    /*height: 340px;*/
    height: 500px;
}

.pb_teacher_banner {
    width: 1375px;
    margin: auto;
    /* 已完成 */
    width: 1200px;
    margin: auto;
}

/* 标记 */
.pb_teacher_banner>.swiper-container2>.swiper-wrapper>div {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.pb_teacher_banner_outer {
    width: 329px;
    /*285px*/
    height: 175px;
    /*165px*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 20px 7px;
    /* 已完成 */
    width: 285px;
    /*285px*/
    height: 151px;
    /*165px*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    float: left;
    margin: 20px 7px;
    /* 标记 */
    margin-left: 0;
    margin-right: 20px;
}

.pb_teacher_banner_outer:nth-of-type(4n) {
    margin-right: 0;
}

.pb_teacher_banner_bottom,
.pb_teacher_banner_top {
    width: 100%;
    height: 100%;
}

/* 已完成 */
.pb_teacher_banner_bottom {
    background-size: 100% !important;
}

.pb_teacher_banner_top {
    position: absolute;
    left: 0;
    top: 175px;
    /*165px*/
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: top 500ms;
    -moz-transition: top 500ms;
    -ms-transition: top 500ms;
    -o-transition: top 500ms;
    transition: top 500ms;
    padding-top: 10px;
    height: calc(100% - 10px);
}

.pb_teacher_banner_top>span {
    display: inline-block;
    color: #ffffff;
    width: 100%;
    font-size: 13px;
    /*14px*/
    line-height: 24px;
    padding-left: 15px;
    /*20px*/
}

.medal {
    margin-left: 10px;
}

.pb_teacher_banner_bottom>div>span {
    display: inline-block;
    width: 65%;
    text-align: center;
    color: #333333;
    line-height: 24px;
}

.pb_teacher_banner_bottom>div>span:first-of-type {
    font-size: 18px;
    font-weight: bold;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(1)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-1.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(1):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(2)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-2.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(2):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(3)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-3.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(3):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(4)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-4.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(4):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(5)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-5.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(5):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(6)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-6.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(6):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(7)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-7.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(7):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(8)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-8.png") no-repeat;
}

.swiper-slide1>.pb_teacher_banner_outer:nth-of-type(8):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(1)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-9.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(1):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(2)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-10.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(2):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(3)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-11.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(3):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(4)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-12.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(4):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(5)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-13.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(5):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(6)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-14.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(6):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(7)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-15.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(7):hover>.pb_teacher_banner_top {
    top: 0;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(8)>.pb_teacher_banner_bottom {
    background: #ffffff url("../img/index/teacher/t-16.png") no-repeat;
}

.swiper-slide2>.pb_teacher_banner_outer:nth-of-type(8):hover>.pb_teacher_banner_top {
    top: 0;
}

.foot_index {
    height: 780px;
    /*background-color: #f2f8fa;*/
    text-align: center;
    min-width: 1200px;
}

.fi_all {
    display: inline-block;
    text-align: left;
}

.fi_all:after {
    display: block;
    content: "";
    clear: both;
}

.fi_left {
    float: left;
    margin: 80px 30px 0 0;
    height: 550px;
    border: 20px solid #ffffff;
    background-color: #ffffff;
    /* 已完成 */
    float: left;
    margin: 80px 20px 0 0;
    height: 550px;
    border: 20px solid #ffffff;
    background-color: #ffffff;
    /* 标记 */
    border-left: 0;
    margin-right: 60px;
}

.fi_right {
    float: left;
    margin: 80px 0 0 30px;
    height: 550px;
    border: 20px solid #ffffff;
    background-color: #ffffff;
    /* 已完成 */
    float: left;
    margin: 80px 0 0 0;
    height: 550px;
    border: 20px solid #ffffff;
    background-color: #ffffff;
    /* 标记 */
    border-right: 0;
}

.news-img>img {
    display: block;
    width: 550px;
    height: 200px;
    margin-top: 20px;
    background-color: #00aeff;
}

.fb_top {
    /*width: 100%;*/
    width: 80%;
    height: 260px;
    background-color: #1c2836;
    padding: 0 10%;
    overflow: hidden;
}

.fb_top:after {
    display: block;
    content: "";
    clear: both;
}

.fb_QR {
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 3%;
}

.contact {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
}

.contact_us {
    font-size: 10px;
    color: #caae8f;
}

.QRcode {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-color: #ffffff;
    margin-top: 2%;
}

.scanner {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    margin-top: 2%;
}

.fb_table {
    float: left;
    width: 60%;
    height: 190px;
    font-size: 14px;
    color: #999999;
    margin: 25px auto;
}

.provide {
    font-size: 24px;
    color: #cccccc;
}

.fb_but {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #39424d;
    font-size: 12px;
    color: #999999;
}

/* 2019-10-8 */
.body_develop_list_right_1 img:nth-of-type(odd) {
    margin-right: 30px;
}

.body_develop_list_right_1 img {
    margin-bottom: 20px;
}

.body_develop_list_right_2>div>* {
    vertical-align: middle;
}

.body_develop_list_right_2>div {
    margin-bottom: 25px;
}

.body_develop_list_right_icon {
    position: relative;
    text-indent: 20px;
}

.body_develop_list_right_icon::before {
    position: absolute;
    top: 13px;
    display: block;
    width: 12px;
    height: 12px;
    background-color: #EE7922;
    content: "";
}

/* 2019-10-13 */
.body_develop_list_right>div:last-of-type>img {
    box-shadow: none;
}

.body_develop_list_right>div {
    width: 100%;
    margin-left: 0;
    text-align: center;
}

.body_develop_list_right_2_title,
.body_develop_list_right_2_text {
    margin: 0 30px;
}

.body_develop_list_right_2_title {
    margin-top: 70px;
    font-weight: bold;
    font-size: 18px;
}

.body_develop_list_right_2_text {
    margin-top: 30px;
    text-align: left;
    font-size: 14px;
}

.body_develop_list_right_5_head {
    margin: 70px 30px 0;
    font-size: 12px;
}

.body_develop_list_right_5_center {
    margin: 30px 30px 0;
}

.body_develop_list_right_5_center>div {
    width: 50%;
    float: left;
}

.body_develop_list_right_5_center_title>img {
    vertical-align: middle;
}

.body_develop_list_right_5_center_title>span {
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
}

.body_develop_list_right_5_center_text {
    padding-left: 42px;
    font-size: 12px;
    white-space: nowrap;
}