html,
body {
    margin: 0;
    padding: 0;
    /* font-family: "MicrosoftYaHei", serif; */
}

a {
    text-decoration: none;
    color: #ffffff;
}

.value_inner {
    width: 1200px;
    margin: auto;
}

.clear_float:after {
    display: block;
    content: "";
    clear: both;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.line_nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.it_train_page {
    max-width: 1920px;
    min-width: 1200px;
    overflow: hidden;
}



.ad {
    height: 80px;
    width: 100%;
    background-color: #245bae;
    color: #ffffff;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms;
}

.ad>span {
    display: inline-block;
    width: 97%;
    height: 40px;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
}

.ad_cancel {
    width: 15px;
    height: 14px;
    border: none;
    background: url("../img/index/cancel-1.png") no-repeat 100%/100%;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
}


.page_head {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    /*top: 20px;*/
    box-shadow: 0 0 10px 0 rgba(84, 95, 111, 0.3);
}

.page_head>div {
    width: 1200px;
    margin: auto;
}

.head_logo {
    float: left;
    height: 40px;
    margin-top: 15px;
}

.page_head>div>div {
    float: right;
}

.head_link {
    float: left;
    list-style: none;
    font-size: 18px;
    min-height: 18px;
    padding: 0;
    margin: 0;
}

.head_link>li {
    float: left;
    font-size: 18px;
}

.head_link>li>a {
    text-decoration: none;
    display: block;
    color: #1c75bc;
    height: 80px;
    /*40px*/
    line-height: 90px;
    /*100px*/
    padding: 0 30px;
    font-size: 24px;
    /*border-radius: 5px;*/
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

.head_link>li>a:hover {
    color: #f7941e;
}

.search {
    float: left;
    width: 26px;
    height: 80px;
    overflow: hidden;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -ms-transition: width 300ms;
    -o-transition: width 300ms;
    transition: width 300ms;
}

.search>div {
    float: right;
    width: 453px;
    margin-top: 27px;
}

.search_cancel,
.search_keyword,
.search_submit {
    /*float: left;*/
    border: none;
    outline: none;
    vertical-align: middle;
}

.search_cancel {
    width: 18px;
    height: 17px;
    background: url("../img/index/cancel-2.png") no-repeat 100%/100%;
    cursor: pointer;
}

.search_keyword {
    width: 380px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    padding: 0 10px;
    border-bottom: 1px solid #1c75bc;
}

.search_submit {
    width: 25px;
    height: 26px;
    background: url("../img/index/search-1.png") no-repeat 100%/100%;
    cursor: pointer;
}







/*.it_train_banner{
    margin-top: 80px;
    height: 670px;
}*/
.train_banner {
    width: 100%;
    vertical-align: top;
}

.train_banner~img {
    position: absolute;
}

.train_banner11 {
    width: 32%;
    top: 16%;
    right: 23%;
}

.train_banner19 {
    width: 57%;
    bottom: 0;
    left: 5%;
}

.train_banner19~img {
    -webkit-transition: transform 300ms;
    -moz-transition: transform 300ms;
    -ms-transition: transform 300ms;
    -o-transition: transform 300ms;
    transition: transform 300ms;
}

.train_banner19~img:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.train_banner12 {
    width: 14%;
    bottom: 5%;
    left: 27%;
}

.train_banner13 {
    width: 13.5%;
    bottom: 0;
    left: 21%;
}

.train_banner14 {
    width: 13.5%;
    bottom: 8%;
    left: 34%;
}

.train_banner15 {
    width: 12.5%;
    bottom: 0;
    left: 14%;
}

.train_banner16 {
    width: 12.5%;
    bottom: 0;
    left: 22%;
}

.train_banner18 {
    width: 12.5%;
    bottom: 0;
    left: 41%;
}

.train_banner17 {
    width: 13%;
    bottom: 0;
    left: 32%;
}

.train_banner_msg {
    position: absolute;
    width: 30%;
    left: 53%;
    top: 50%;
}

.train_banner_msg>span {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 50px;
}

@media screen and (min-width: 1280px) and (max-width: 1366px) {
    .train_banner_msg>span {
        line-height: 36px;
    }
}

.train_banner_name {
    font-size: 36px;
}

.it_train_title {
    text-align: center;
    margin: 70px 0 30px 0;
}

.it_train_title>span {
    display: inline-block;
    width: 100%;
}

.it_train_title>span:first-of-type {
    font-size: 35px;
    line-height: 24px;
    color: #efefef;
    font-weight: bold;
}

.it_train_title>span:last-of-type {
    position: relative;
    top: -20px;
    line-height: 24px;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
}

.it_train_title>img {
    position: relative;
    top: -30px;
}

/* 从sourseClass页面copy过来 */
.sourseClass-content-allclass-content-raw {
    width: 1200px;
    height: 60px;
    background-color: #fafafa;
    margin: 0 auto 5px;
}

.sourseClass-content-allclass-content-raw>div {
    width: auto;
    /* margin: 23px 19px auto 11px ; */
    margin-left: 11px;
    margin-right: 19px;
    text-align: center;
    height: 60px;
    font-family: "MicrosoftYaHei", serif;
    font-size: 16px;
    line-height: 60px;
    letter-spacing: 0;
    color: #333333;
    display: inline-block;
}

.sourseClass-content-allclass-content-raw-menu.active {
    border-bottom: 5px solid #1066fe;
}

/*.it_train_course_class,.it_train_course_msg{
    float: left;
}
.it_train_course_class{
    width: 400px;
}
.it_train_course_class>div{
    float: left;
    width: 180px;
    height: 90px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    margin: 20px 10px;
    text-align: center;
}
.it_train_course_class span{
    !*display: inline-block;
    width: 100%;*!
    color: #1066fe;
    position: relative;
}
.it_train_course_class img{
    width: 47px;
    height: 47px;
    margin-top: 10px;
}
.course_class_active{
    background-image: linear-gradient(-45deg,rgba(16, 102, 254, 0.88) 0%,rgba(47, 216, 247, 0.88) 100%),linear-gradient(#1066fe,#1066fe);
}
.course_class_active>div>span{
    color: #FFFFFF;
}
.course_class_new>div>span:after{
    display: block;
    width: 35px;
    height: 15px;
    content: "NEW";
    color: #FFFFFF;
    background-color: #e02121;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -25px;
}
.it_train_course_msg{
    width: 790px;
    margin-left: 10px;
}
.it_train_course_msg_title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
}
.it_train_course_msg_title>*{
    vertical-align: middle;
}
.it_train_course_msg_title>div{
    display: inline-block;
    width: 4px;
    height: 100%;
    background-color: #1066fe;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.it_train_course_msg_title>span{
    font-size: 24px;
    color: #333333;
}
.it_train_course_msg_title>a{
    float: right;
    color: #1066fe;
    margin-right: 50px;
}
.it_train_course_msg_value{
    height: 70px;
    padding: 25px 20px;
}
.it_train_course_msg_value>span{
    font-size: 14px;
    line-height: 24px;
    color: #666666;
}
.it_train_course_msg_list{
    height: 340px;
    overflow-y: auto;
}
.it_train_course_msg_list>div{
    float: left;
    width: 170px;
    height: 160px;
    margin: 5px 11px;
    text-align: center;
}
.it_train_course_msg_list>div>img{
    width: 170px;!*100%*!
    height: 105px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.it_train_course_msg_list>div>span{
    font-size: 12px;
    line-height: 24px;
    color: #333333;
}*/
.courses_list {
    margin-bottom: 55px;
}

.courses_list_card,
.schedule_card {
    float: left;
    width: 386px;
    margin-right: 14px;
    margin-bottom: 18px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0px;
    overflow: hidden;
    -webkit-transition: box-shadow 300ms;
    -moz-transition: box-shadow 300ms;
    -ms-transition: box-shadow 300ms;
    -o-transition: box-shadow 300ms;
    transition: box-shadow 300ms;
}
/* 替换开始 */
.courses_list_card>span:first-of-type {
    position: absolute;
    top: 12%;
    font-size: 30px;
    color: #e0e0e0;
    z-index: 1;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
/* 替换结束 */
.flex>.courses_list_card:last-of-type>a {
    position: absolute;
    right: 30%;
    bottom: 50%;
    font-size: 26px;

}

.courses_list_card:nth-of-type(3),
.courses_list_card:nth-of-type(7) .schedule_card:nth-of-type(3n) {
    margin-right: 0;
}

.courses_list_card:nth-of-type(1) {
    width: 299px;
}

.courses_list_card:nth-of-type(2) {
    width: 405px;
}

.courses_list_card:nth-of-type(3) {
    width: 455px;
}

.courses_list_card:nth-of-type(4) {
    width: 285px;
}

.courses_list_card:nth-of-type(5),
.courses_list_card:nth-of-type(6),
.courses_list_card:nth-of-type(7) {
    width: 285px;
}

.courses_list_card {
    height: 250px;
    background: no-repeat;
    color: #ffffff;
    background-color: #aaaaaa;
    position: relative;
}

.schedule_card {
    height: 375px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(153, 153, 153, 0.5);
}

.courses_list_card:hover,
.schedule_card:hover {
    box-shadow: 1px 2px 7px 0 #333333;
}

.courses_list_card>span,
.courses_list_card>.courses_text>a {
    z-index: 2;
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
    /* font-family: PingFang-SC-Bold ,serif; */
}

.courses_title {
    font-size: 30px;
    line-height: 70px;
}

.courses_title:after {
    display: none;
    content: "";
    width: 50px;
    height: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.courses_text {
    display: inline;
    font-size: 18px;
    line-height: 36px;
}

.courses_text>a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.courses_list_card>a {
    position: absolute;
    right: 5%;
    bottom: 10px;
    font-size: 14px;
    /* font-family: PingFang-SC-Medium ,serif; */
    color: #ffffff;
}

.courses_list_card>a>div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}



.training_schedule {
    background-color: #f9f9f9;
    overflow: hidden;
}

.schedule_top>span {
    /*font-family: PingFang-SC-Medium, serif;*/
    font-size: 24px;
    color: #333333;
}

.schedule_top button {
    height: 30px;
    /*font-family: PingFang-SC-Medium, serif;*/
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.all_schedule {
    background-color: #333333;
    color: #ffffff;
    margin: 0 50px;
}

.schedule_time {
    background-color: #eeeeee;
    color: #333333;
}

.schedule_mid {
    margin-top: 25px;
}

.schedule_card_top {
    /* width: 90%; */
    height: 270px;
    background: 100% 100% no-repeat;
    color: #ffffff;
    background-color: #eeeeee;
    background-size: cover;
}

.schedule_card_top_mask {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px 5%;
    background-color: rgba(0, 0, 0, 0.3);
}

.schedule_card_title {
    display: inline-block;
    font-size: 28px;
    line-height: 45px;
    height: 110px;
}

.schedule_card_tip {
    width: 93px;
    height: 30px;
    line-height: 28px;
    padding-left: 15px;
    background: url("../img/itTrain/schedule_card_tip.png") no-repeat;
    margin-bottom: 10px;
}

.schedule_card_point>div {
    float: left;
    height: 36px;
    line-height: 36px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    padding: 0 18px;
    margin: 0 17px 12px 0;
}

.schedule_card_mid,
.schedule_card_but {
    width: 90%;
    height: 50px;
    line-height: 50px;
    padding: 0 5%;
    font-size: 20px;
    color: #666666;
}

.schedule_card_mid>span:last-of-type {
    color: #333333;
}

.schedule_but {
    margin: 15px 0 45px 0;
}

.schedule_card_page {
    text-align: center;
}

.schedule_card_page_button {
    height: 35px;
    border: solid 1px #626262;
    background-color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 15px;
    margin: 0 5px;
    outline: none;
}

.schedule_card_page_button_active {
    background-color: #535353;
    color: #ffffff;
}






.live_broadcast_playback {
    overflow: hidden;
    margin-bottom: 70px;
}

.playBack_card>div {
    width: 370px;
    height: 325px;
    margin: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.playBack_card>div>div {
    position: relative;
}

.playBack_card img {
    width: 100%;
    height: 225px;
}

.playBack_card i.b {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
    width: 60px;
    height: 60px;
    background: url(../img/itTrain/bofang.png) 50% 50% no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    display: block;
    cursor: pointer;
}

.playBack_card>div>div:hover i {
    width: 100%;
    height: 100%;
    background-size: 60px 60px;
    margin: 0;
    background-position: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.playBack_card span {
    display: inline-block;
    width: 90%;
    margin: 0 5%;
    line-height: 45px;
    font-size: 18px;
    color: #8d8d8d;
}

.playBack_card span:first-of-type {
    font-weight: bold;
    color: #333333;
}

/* 视频弹窗 */
.video {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    width: 100%;
    height: 100%;
}

.video_media {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -400px;
}

.video_media::after {
    content: "";
    display: block;
    clear: both;
}

.video_media>video,
.video_media>span {
    float: left;
}

.video_media>video {
    width: 100%;
    height: 100%;
    outline: none;
}

.video_media>span {
    font-size: 44px;
    line-height: 20px;
    /* padding-left: 5px; */
    cursor: pointer;
    float: right;
    margin-right: -30px;
    width: 30px;
    height: 30px;
    background-image: url(../img/itTrain/video-cancel.png)
}

.internal_training {
    background-color: #f9f9f9;
    overflow: hidden;
}

.internal_training_details {
    text-align: center;
    height: 209px;
    width: 1200px;
    margin-bottom: 80px;
}

.internal_training_details_box1 {
    float: left;
    height: 209px;
    width: 289px;
    background-image: url("../img/itTrain/NEW_0000s_0004_组-22.png");
}

.internal_training_details_box1 span {
    margin: 5px 0px 0px 30px;
    font-size: 20px;
    display: block;
    color: #ffffff;
    text-align: left;

}

.internal_training_details_box1 span:first-of-type {
    text-align: center;
    margin: 0px 0px 20px 0px;
    display: block;
    font-size: 28px;
    color: #ff7b03;
}

.internal_training_details_box2 {
    float: left;
    height: 209px;
    width: 289px;
    background-image: url("../img/itTrain/NEW_0000s_0003_组-22-拷贝.png");
}

.internal_training_details_box2 span {
    margin: 5px 0px 0px 30px;
    font-size: 20px;
    display: block;
    color: #ffffff;
    text-align: left;

}

.internal_training_details_box2 span:first-of-type {
    text-align: center;
    margin: 0px 0px 20px 0px;
    display: block;
    font-size: 28px;
    color: #ff4a58;
}

.internal_training_details_box3 {
    float: left;
    height: 209px;
    width: 289px;
    background-image: url("../img/itTrain/NEW_0000s_0000_组-22-拷贝-2.png");
}

.internal_training_details_box3 span {
    margin: 5px 0px 0px 30px;
    font-size: 20px;
    display: block;
    color: #ffffff;
    text-align: left;

}

.internal_training_details_box3 span:first-of-type {
    text-align: center;
    margin: 0px 0px 20px 0px;
    display: block;
    font-size: 28px;
    color: #5875fe;
}

.internal_training_details_next {
    margin: 80px 50px 0 50px;
    float: left;
    background: url("../img/itTrain/NEW_0000s_0001_形状-503-拷贝-2.png")no-repeat;
    height: 209px;
    width: 63px;

}

.it_advantages {
    overflow: hidden;
    height: 603px;
    background: url("../img/itTrain/NEW_0000s_0001__剪切组_.png") no-repeat;
    margin: 0 auto;
}

.it_advantages_box {
    margin: 0 auto;
    width: 1200px;
}

.it_advantages_single_box {
    float: left;
    margin: 10px 10px 10px 10px;
    background: rgba(255, 255, 255, 0.7);
    width: 370px;
    height: 160px;
}

.it_advantages_single_box .list {
    position: relative;
    height: 0;
    top: 20px;
    left: 28px;
    font-size: 20px;
    color: #245bae;
}

.it_advantages_single_box span {
    font-size: 22px;
    display: block;
    margin: 15px 20px 5px 30px;
    color: #505050;
}

.it_advantages_single_box span:first-of-type {
    margin: 10px 5px 5px 50px;
    display: block;
    font-size: 30px;
    color: #245bae;
}

/*.wonderful_review{
    background: url("../img/itTrain/wonderful_review_background.png") no-repeat 50%;
    overflow: hidden;
}*/
.fb_top {
    /*width: 100%;*/
    width: 80%;
    height: 260px;
    background-color: #1c2836;
    padding: 0 10%;
    overflow: hidden;
}

.fb_top:after {
    display: block;
    content: "";
    clear: both;
}

.fb_QR {
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 3%;
}

.contact {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
}

.contact_us {
    font-size: 10px;
    color: #caae8f;
}

.QRcode {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-color: #ffffff;
    margin-top: 2%;
}

.scanner {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    margin-top: 2%;
}

.fb_table {
    float: left;
    width: 60%;
    height: 190px;
    font-size: 14px;
    color: #999999;
    margin: 25px auto;
}

.provide {
    font-size: 24px;
    color: #cccccc;
}

.fb_but {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #39424d;
    font-size: 12px;
    color: #999999;
}

.wonderful_review .entrance-center-left {
    float: unset;
    margin: -40px auto 40px auto;
}