body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333333;
}

li {
    list-style: none;
}

.clear_float:after {
    display: block;
    content: "";
    clear: both;
}


.ad {
    height: 80px;
    width: 100%;
    background-color: #245bae;
    color: #ffffff;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms;
}

.ad>span {
    display: inline-block;
    width: 97%;
    height: 40px;
    padding: 20px 0;
    text-align: center;
    vertical-align: middle;
}

.ad_cancel {
    width: 15px;
    height: 14px;
    border: none;
    background: url("../img/index/cancel-1.png") no-repeat 100%/100%;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    vertical-align: middle;
}


.page_head {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    -ms-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    transition: background-color 500ms;
    /*top: 20px;*/
    box-shadow: 0 0 10px 0 rgba(84, 95, 111, 0.3);
}

.page_head>div {
    width: 1200px;
    margin: auto;
}

.head_logo {
    float: left;
    height: 40px;
    margin-top: 15px;
}

.page_head>div>div {
    float: right;
}

.head_link {
    float: left;
    list-style: none;
    font-size: 18px;
    min-height: 18px;
    padding: 0;
    margin: 0;
}

.head_link>li {
    float: left;
    font-size: 18px;
}

.head_link>li>a {
    text-decoration: none;
    display: block;
    color: #1c75bc;
    height: 80px;
    /*40px*/
    line-height: 90px;
    /*100px*/
    padding: 0 30px;
    font-size: 24px;
    /*border-radius: 5px;*/
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -ms-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;
}

.head_link>li>a:hover {
    color: #f7941e;
}

.search {
    float: left;
    width: 26px;
    height: 80px;
    overflow: hidden;
    -webkit-transition: width 300ms;
    -moz-transition: width 300ms;
    -ms-transition: width 300ms;
    -o-transition: width 300ms;
    transition: width 300ms;
}

.search>div {
    float: right;
    width: 453px;
    margin-top: 27px;
}

.search_cancel,
.search_keyword,
.search_submit {
    /*float: left;*/
    border: none;
    outline: none;
    vertical-align: middle;
}

.search_cancel {
    width: 18px;
    height: 17px;
    background: url("../img/index/cancel-2.png") no-repeat 100%/100%;
    cursor: pointer;
}

.search_keyword {
    width: 380px;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    padding: 0 10px;
    border-bottom: 1px solid #1c75bc;
}

.search_submit {
    width: 25px;
    height: 26px;
    background: url("../img/index/search-1.png") no-repeat 100%/100%;
    cursor: pointer;
}



.IT_services_link {
    /*display: none;*/
    height: 0;
    width: 150px;
    min-width: 150px;
    position: absolute;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: height 300ms;
    -moz-transition: height 300ms;
    -ms-transition: height 300ms;
    -o-transition: height 300ms;
    transition: height 300ms;
    box-shadow: 0 0 5px 0 rgba(82, 82, 82, 0.2);
}

.IT_services_link>a {
    display: inline-block;
    width: 90%;
    line-height: 40px;
    padding-left: 10%;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;*/
    font-size: 14px;
}

.IT_services_link>a:hover {
    background-color: #cbf0ff;
    /*font-weight: bold;*/
}

.battlefield_service {
    background-color: #f8f8f8;
    max-width: 1920px;
    min-width: 1200px;
    overflow: hidden;
}

/* banner */
.page_title {
    width: 100%;
}

.tb_banimg {
    width: 100%;

}

.tb_title {
    position: absolute;
    width: 100%;
    height: 5%;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
}

.tb_content>.title:nth-of-type(1) {
    background: url("../img/specialSourse/title1.png");
    background-size: 100%;
    position: relative;
    height: 18%;
    width: 13%;
    float: left;
    margin: 4px 4px 0px 4px;
}

.tb_content>.title:nth-of-type(8) {
    background: url("../img/specialSourse/title2.png");
    background-size: 100%;
    position: relative;
    height: 18%;
    width: 13%;
    float: left;
    margin: 4px 4px 0px 4px;
}

.tb_content>.title:nth-of-type(15) {
    background: url("../img/specialSourse/title3.png");
    background-size: 100%;
    position: relative;
    height: 18%;
    width: 13%;
    float: left;
    margin: 4px 4px 0px 4px;
}

.tb_content>.title:nth-of-type(22) {
    background: url("../img/specialSourse/title4.png");
    background-size: 100%;
    position: relative;
    height: 18%;
    width: 13%;
    float: left;
    margin: 4px 4px 0px 4px;
}

.tb_content>.title:nth-of-type(29) {
    background: url("../img/specialSourse/title5.png");
    background-size: 100%;
    position: relative;
    height: 18%;
    width: 13%;
    float: left;
    margin: 4px 4px 0px 4px;
}

.tb_content>.title:nth-of-type(1)>span {
    color: #804c03;
    font-size: 28px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.tb_content>.title:nth-of-type(8)>span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #5c3600;
    font-size: 28px;
}

.tb_content>.title:nth-of-type(15)>span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #1a6939;
    font-size: 28px;
}

.tb_content>.title:nth-of-type(22)>span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #a06109;
    font-size: 28px;
}

.tb_content>.title:nth-of-type(29)>span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: #3059ca;
    font-size: 28px;
}


.tb_content {
    position: absolute;
    width: 100%;
    height: 90%;
    margin: 3% 2% 0px 2%;
}

.tb_content>.title {

    background: #000;
    position: relative;
    display: flex;
    height: 18%;
    width: 13%;
    float: left;
    margin: 4px 4px 0px 4px;
}

.tb_content>.page {
    position: relative;
    height: 18%;
    width: 13%;
    float: left;
    margin: 4px 4px 0px 4px;
}

.tb_content>.page>.cover {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tb_content>.page>.cover:hover {
    transition: background-color 300ms linear 0ms;
    opacity: 0.3;
    background-color: rgb(0, 0, 0);
}

.tb_content>.page>.pageimg {
    position: absolute;
    width: 100%;
    height: 100%;
}

@keyframes silder {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.tb_content>.page>.slider {
    display: none;
    opacity: 1;
    animation: silder 1s infinite;
    position: absolute;
    width: 28px;
    height: 36px;
    bottom: 5%;
    left: 42%;
    z-index: 11;
    background-image: url("../img/specialSourse/little_banner1_0000_形状-31.png");
}

.page_content {
    width: 100%;
    overflow: hidden;
    background: #f8f8f8;
}

.page_content>.page_content_main {
    overflow: hidden;
    width: 1200px;
    top: 20px;
    margin: auto;
}

.page_content_left_box {
    background-color: #ffffff;
    float: left;
    margin: 20px 20px 0px 0px;
    overflow: hidden;
    width: 72%;
}

.page_content>.page_content_main>.page_content_left_box>.page_content_left0 {

    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left0>.content0 {
    width: 100%;

}

.content0_title {
    text-align: center;
    margin: 30px 0px 30px 30px;
    background: url("../img/specialSourse/1/little07.png") bottom no-repeat;
    background-size: 100%;
    height: 50px;
    width: 140px;
}

.content0_title>span {
    font-size: 28px;
    color: rgb(104, 104, 104);
}

.page_content_left0>.content0>.content0_main {
    overflow: hidden;
    width: 100%;

}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(1) {
    margin: 2% 6% 2% 11%;
    float: left;
    width: 18%;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(2) {
    margin: 2% 6% 2% 6%;
    float: left;
    width: 18%;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(3) {
    margin: 2% 11% 2% 6%;
    float: left;
    width: 18%;
}

.page_content_left0>.content0>.content0_main>.single_box {
    margin: 2% 3% 2% 4%;
    float: left;
    width: 18%;
}

.page_content_left0>.content0>.content0_main>.single_box>img {
    margin: 0 auto;
    display: block;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(1)>div:nth-of-type(1) {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    width: 99px;
    height: 68px;
    background: url("../img/specialSourse/1/img001.png") no-repeat;
}

.content0_main_span {
    position: relative;
    top: 30%;
    left: 45%;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(2)>div:nth-of-type(1) {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    width: 99px;
    height: 68px;
    background: url("../img/specialSourse/1/img002.png") no-repeat;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(3)>div:nth-of-type(1) {
    color: #ffffff;
    margin-left: 20px;
    font-size: 20px;
    width: 99px;
    height: 68px;
    background: url("../img/specialSourse/1/img003.png") no-repeat;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(4)>div:nth-of-type(1) {
    color: #ffffff;
    font-size: 20px;
    width: 99px;
    margin-left: 20px;
    height: 68px;
    background: url("../img/specialSourse/1/img004.png") no-repeat;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(5)>div:nth-of-type(1) {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    width: 99px;
    height: 68px;
    background: url("../img/specialSourse/1/img005.png") no-repeat;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(6)>div:nth-of-type(1) {
    color: #ffffff;
    font-size: 20px;
    width: 99px;
    margin-left: 20px;
    height: 68px;
    background: url("../img/specialSourse/1/img006.png") no-repeat;
}

.page_content_left0>.content0>.content0_main>.single_box:nth-of-type(7)>div:nth-of-type(1) {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    width: 99px;
    height: 68px;
    background: url("../img/specialSourse/1/img007.png") no-repeat;
}

.page_content_left0>.content0>.content0_main>.single_box>div:nth-of-type(2) {
    margin: 20px 15px 5px 0px;
    height: 150px;
    white-space: normal;
    word-break: break-all;
}

.page_content_left0>.content1 {
    width: 100%;

}

.page_content_left0>.content1>.content1_main {
    overflow: hidden;

}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(1) {
    -moz-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    -webkit-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    border-radius: 5px;
    float: left;
    width: 25%;
    height: 322px;
    margin: 4% 4% 4% 4%;
    background: url("../img/specialSourse/1/img0001.png") bottom no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(2) {
    -moz-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    -webkit-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    border-radius: 5px;
    float: left;
    width: 25%;
    height: 322px;
    margin: 4% 4% 4% 4%;
    background: url("../img/specialSourse/1/img0002.png") bottom no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(3) {
    -moz-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    -webkit-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    border-radius: 5px;
    float: left;
    height: 322px;
    width: 25%;
    margin: 4% 4% 4% 4%;
    background: url("../img/specialSourse/1/img0003.png") bottom no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(4) {
    -moz-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    -webkit-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    border-radius: 5px;
    float: left;
    width: 25%;
    height: 322px;
    margin: 4% 4% 4% 4%;
    background: url("../img/specialSourse/1/img0004.png") bottom no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(5) {
    -moz-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    -webkit-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    border-radius: 5px;
    float: left;
    width: 25%;
    height: 322px;
    margin: 4% 4% 4% 4%;
    background: url("../img/specialSourse/1/img0005.png") bottom no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(6) {
    -moz-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    -webkit-box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    box-shadow: -2px 0px 20px #d4dffa, 2px 2px 5px #d4dffa;
    border-radius: 5px;
    float: left;
    width: 25%;
    height: 322px;
    margin: 4% 4% 4% 4%;
    background: url("../img/specialSourse/1/img0006.png") bottom no-repeat;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.page_content_left0>.content1>.content1_main>.single_box:hover {
    -moz-box-shadow: -2px 0px 30px #b4c9ff, 2px 2px 30px #b4c9ff;
    -webkit-box-shadow: -2px 0px 30px #b4c9ff, 2px 2px 30px #b4c9ff;
    box-shadow: -2px 0px 30px #b4c9ff, 2px 2px 30px #b4c9ff;
}

.page_content_left0>.content1>.content1_main>.single_box>.single_box_title {
    overflow: hidden;

}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(1)>.single_box_title>div:nth-of-type(1) {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 16px;
    height: 16px;
    background: url("../img/specialSourse/1/little06.png") no-repeat;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(2)>.single_box_title>div:nth-of-type(1) {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 16px;
    height: 16px;
    background: url("../img/specialSourse/1/little05.png") no-repeat;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(3)>.single_box_title>div:nth-of-type(1) {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 16px;
    height: 16px;
    background: url("../img/specialSourse/1/little04.png") no-repeat;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(4)>.single_box_title>div:nth-of-type(1) {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 16px;
    height: 16px;
    background: url("../img/specialSourse/1/little03.png") no-repeat;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(5)>.single_box_title>div:nth-of-type(1) {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 16px;
    height: 16px;
    background: url("../img/specialSourse/1/little02.png") no-repeat;
}

.page_content_left0>.content1>.content1_main>.single_box:nth-of-type(6)>.single_box_title>div:nth-of-type(1) {
    float: left;
    margin: 10px 0px 0px 15px;
    width: 16px;
    height: 16px;
    background: url("../img/specialSourse/1/little01.png") no-repeat;
}

.page_content_left0>.content1>.content1_main>.single_box>.single_box_title>div:nth-of-type(2) {
    float: left;
    font-size: 20px;
    width: 80%;
    margin: 5px 0px 15px 5px;
}

.page_content_left0>.content1>.content1_main>.single_box>.single_box_content {
    margin: 5px 10px 65px 10px;
    display: grid;
}

.page_content_left0>.content1>.content1_main>.single_box>.single_box_content>span {
    color: rgb(66, 66, 66);
    margin: 5px 0px 5px 0px;
}

.page_content_left0>.content2 {
    width: 100%;

}

.page_content_left0>.content2>.content2_main {
    position: relative;
    width: 100%;
    height: 440px;
    background-color: #e4f2ff;
    overflow: hidden;
}

.page_content_left0>.content2>.content2_main>.frag {
    font-size: 20px;
}

.page_content_left0>.content2>.content2_main>.frag:nth-of-type(1) {
    position: absolute;
    left: 15%;
    top: 50%;
}

.page_content_left0>.content2>.content2_main>.frag:nth-of-type(2) {
    position: absolute;
    left: 40%;
    top: 80%;
}

.page_content_left0>.content2>.content2_main>.frag:nth-of-type(3) {
    position: absolute;
    left: 70%;
    top: 20%;
}

.page_content_left0>.content2>.content2_main>.single_box {
    width: 359px;
    height: 234px;
    position: relative;
    top: 100px;
    bottom: 100px;
    margin: 0 auto;
    background: url("../img/specialSourse/1/img_0004s_0000s_0000_图片2.png") no-repeat;
}

.page_content_left0>.content3 {
    width: 100%;
}

.page_content_left0>.content3>.content3_main {
    width: 100%;
    overflow: hidden;

}

.page_content_left0>.content3>.content3_main>.single_box {
    width: 636px;
    height: 473px;
    top: 100px;
    bottom: 100px;
    margin: 0 auto;
    margin-bottom: 100px;
    background: url("../img/specialSourse/1/img_0003s_0000_组-12.png") no-repeat;
}

.page_content_left0>.content3 {
    width: 100%;
}

.page_content_left0>.content4>.content4_main {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page_content_left0>.content4>.content4_main>.single_box {
    overflow: hidden;
    height: 279px;
    margin-bottom: 20px;
}

.page_content_left0>.content4>.content4_main>.single_box>.left_box {
    position: absolute;
    z-index: 99;
    margin: 0% 2% 0% 3%;
    height: 279px;
    background: url("../img/specialSourse/1/0000001.png") no-repeat;
    width: 45%;
    float: left;
}

.page_content_left0>.content4>.content4_main>.single_box>.right_box {

    margin: 3% 0% 0% 0%;
    position: relative;
    background-color: #e4f2ff;
    width: 100%;
    float: left;
}

.page_content_left0>.content4>.content4_main>.single_box>.right_box>.right_demo_title {
    overflow: hidden;
    float: right;
    left: 50%;
    width: 40%;
    margin: 2% 5% 2% 55%;
}

.page_content_left0>.content4>.content4_main>.single_box>.right_box>.right_demo_title:nth-of-type(1)>div:nth-of-type(1) {
    float: left;
    margin: 5px 10px 0px 15px;
    width: 7%;
    height: 22px;
    background: url("../img/specialSourse/1/img_0002s_0002_电商.png") no-repeat;
}

.page_content_left0>.content4>.content4_main>.single_box>.right_box>.right_demo_title:nth-of-type(2)>div:nth-of-type(1) {
    float: left;
    margin: 5px 10px 0px 15px;
    width: 7%;
    height: 22px;
    background: url("../img/specialSourse/1/img_0002s_0001_团队\(1\).png") no-repeat;
}

.page_content_left0>.content4>.content4_main>.single_box>.right_box>.right_demo_title:nth-of-type(3)>div:nth-of-type(1) {
    float: left;
    margin: 5px 10px 0px 15px;
    width: 7%;
    height: 22px;
    background: url("../img/specialSourse/1/img_0002s_0000_飞机.png") no-repeat;
}

.page_content_left0>.content4>.content4_main>.single_box>.right_box>.right_demo_title>div:nth-of-type(2) {
    width: 80%;
    float: left;
}

.page_content_left0>.content5 {
    background-color: #e4f2ff;
    width: 100%;
}

.page_content_left0>.content5>.content5_main {
    height: 500px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.page_content_left0>.content5>.content5_main>.frag:nth-of-type(1) {
    font-size: 22px;
    width: 15%;
    position: absolute;
    left: 15%;
    top: 40%;
}

.page_content_left0>.content5>.content5_main>.frag:nth-of-type(2) {
    font-size: 22px;
    width: 15%;
    position: absolute;
    left: 44%;
    top: 5%;
}

.page_content_left0>.content5>.content5_main>.frag:nth-of-type(3) {
    font-size: 21px;
    width: 18%;
    position: absolute;
    left: 44%;
    top: 75%;
}

.page_content_left0>.content5>.content5_main>.frag:nth-of-type(4) {
    font-size: 21px;
    width: 15%;
    position: absolute;
    left: 72%;
    top: 40%;
}

.page_content_left0>.content5>.content5_main>.single_box {
    position: relative;
    top: 20%;
    overflow: hidden;
    width: 341px;
    height: 260px;
    background-image: url("../img/specialSourse//1/img_0001s_0000_产品.png");
    margin: 0 auto;
}

.page_content_left0>.content6 {
    width: 100%;
}

.page_content_left0>.content6>.content6_main {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0px 0px 100px 0px;
}

.page_content_left0>.content6>.content6_main>.single_box_teacher {
    width: 20%;
    float: left;
    margin: 0px 0px 0px 40px;
}

.page_content_left0>.content6>.content6_main>.single_box_teacher>img {
    margin: 10px 0px 0px 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #eeeeee;
    overflow: hidden;
    float: left;
}

.page_content_left0>.content6>.content6_main>.single_box_content {
    float: left;
    width: 70%;
}

.page_content_left0>.content6>.content6_main>.single_box_content>.single_box_title {
    margin-top: 20px;
    width: 100%;
    color: #1999da;
    font-size: 20px;
}

.page_content_left0>.content6>.content6_main>.single_box_content>.single_box_word {
    margin-top: 20px;
    display: block;
    width: 100%;
    word-break: break-all;
    height: 50%;
    color: rgb(116, 116, 116);

}

.page_content_left1 {

    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left1>.left_banner {
    position: relative;
    width: 100%;
}

.page_content_left1>.left_banner>.banner_wrapper {
    margin: 0 auto;
    top: 15%;
    left: 10%;
    opacity: 0.7;
    height: 70%;
    width: 80%;
    background: #ffffff;
    position: absolute;
}

.page_content_left1>.left_banner>.banner_wrapper>.banner_title {
    margin: 30px 0px 30px 0px;
    font-size: 34px;
    text-align: center;
    width: 100%;
}

.page_content_left1>.left_banner>.banner_wrapper>.banner_content {
    width: 60%;
    text-align: center;
    position: relative;
    left: 20%;
}

.page_content_left1>.content0 {
    width: 100%;
    margin: 50px 0px 0px 0px;
}

.content1_title {
    /* position: relative; */
    width: 100%;
    overflow: hidden;
    /* float: left; */
    margin: 0px 0px 50px 0px;
}

.content1_title>div:nth-of-type(1) {
    width: 5%;
    height: 50px;
    float: left;
    background: linear-gradient(to right, #4c4fe7, #ffffff);
}

.content1_title>span {
    margin: 10px 0px 10px 0px;
    width: 95%;
    float: left;
    font-size: 26px;
    color: #137ed7;
}

.page_content_left1>.content0>.content0_main {
    width: 100%;
    overflow: hidden;
}

.page_content_left1>.content0>.content0_main>.single_box:nth-of-type(1) {
    width: 20%;
    margin: 5% 12% 5% 18%;
    float: left;
    height: 280px;
}

.page_content_left1>.content0>.content0_main>.single_box:nth-of-type(2) {
    width: 20%;
    margin: 5% 18% 5% 12%;
    float: left;
    height: 280px;
}

.page_content_left1>.content0>.content0_main>.single_box {
    width: 20%;
    float: left;
    height: 280px;
    margin: 5% 6% 5% 6%;
}

.page_content_left1>.content0>.content0_main>.single_box>.single_box_title>img {
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.page_content_left1>.content1>.content1_main {
    width: 100%;

}

.page_content_left1>.content1>.content1_main>.single_box {
    position: relative;
    margin: 50px 0px 50px 0px;
    width: 100%;

}

.page_content_left1>.content1>.content1_main>.single_box>img {
    margin: 30px 0px 0px 0px;
    display: block;
    margin: 0 auto;
    width: 352px;
    height: 344px;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(1) {
    font-size: 24px;
    position: absolute;
    float: left;
    left: 24%;
    top: 12%;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(2) {
    font-size: 24px;
    position: absolute;
    float: left;
    left: 8%;
    top: 37%;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(3) {
    font-size: 24px;
    position: absolute;
    float: left;
    left: 9%;
    top: 65%;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(4) {
    font-size: 24px;
    position: absolute;
    float: left;
    left: 19%;
    top: 92%;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(5) {
    font-size: 24px;
    position: absolute;
    float: right;
    right: 25%;
    top: 12%;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(6) {
    font-size: 24px;
    position: absolute;
    float: right;
    right: 13%;
    top: 37%;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(7) {
    font-size: 24px;
    position: absolute;
    float: right;
    right: 18%;
    top: 65%;
}

.page_content_left1>.content1>.content1_main>.single_box>span:nth-of-type(8) {
    font-size: 24px;
    position: absolute;
    float: right;
    right: 28%;
    top: 92%;
}

.page_content_left1>.content2>.content2_main {
    width: 100%;
    overflow: hidden;
}

.page_content_left1>.content2>.content2_main>.single_box {
    margin: 50px 0px 50px 0px;
}

.page_content_left1>.content2>.content2_main>.single_box>img {
    display: block;
    margin: 0 auto;
}

.page_content_left1>.content3>.content3_main {
    width: 100%;
    overflow: hidden;
}

.page_content_left1>.content3>.content3_main>.single_box1 {
    width: 100%;
    background: url("../img/specialSourse/2/bgimg01.png") no-repeat;
    height: 538px;
}

.page_content_left1>.content3>.content3_main>.single_box1>.single_box1_wrapper:nth-of-type(1) {
    float: left;
    width: 35%;
    margin: 30px 0px 30px 30px;
    display: grid;
    color: #FFFFFF;
}

.page_content_left1>.content3>.content3_main>.single_box1>.single_box1_wrapper:nth-of-type(1)>span {
    margin: 6px 0px 0px 0px;
    line-height: 30px;
}

.page_content_left1>.content3>.content3_main>.single_box1>.single_box1_wrapper:nth-of-type(1)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box1>.single_box1_wrapper:nth-of-type(2) {
    float: right;
    width: 42%;
    margin: 70px 30px 30px 0px;
    display: grid;
    color: #FFFFFF;
}

.page_content_left1>.content3>.content3_main>.single_box1>.single_box1_wrapper:nth-of-type(2)>span {
    margin: 6px 0px 0px 0px;
    line-height: 30px;
}

.page_content_left1>.content3>.content3_main>.single_box1>.single_box1_wrapper:nth-of-type(2)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box2 {
    position: relative;
    margin: 50px 0px 0px 0px;
    width: 100%;
    background: url("../img/specialSourse/2/bgimg02.png") no-repeat;
    height: 313px;
}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_title {
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    text-align: center;
    font-size: 26px;

}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_title::after {
    content: '';
    width: 80px;
    height: 1px;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_wrapper:nth-of-type(1)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_wrapper:nth-of-type(1) {
    float: left;
    width: 35%;
    margin: 50px 0px 30px 30px;
    display: grid;
    color: #FFFFFF;
}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_wrapper:nth-of-type(2) {
    float: right;
    width: 42%;
    margin: 70px 30px 30px 0px;
    display: grid;
    color: #FFFFFF;
}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_wrapper:nth-of-type(1)>span {
    margin: 6px 0px 0px 0px;
    line-height: 30px;
}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_wrapper:nth-of-type(1)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_wrapper:nth-of-type(2)>span {
    margin: 6px 0px 0px 0px;
    line-height: 30px;
}

.page_content_left1>.content3>.content3_main>.single_box2>.single_box2_wrapper:nth-of-type(2)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box3 {
    position: relative;
    margin: 50px 0px 0px 0px;
    width: 100%;
    background: url("../img/specialSourse/2/bgimg03.png") no-repeat;
    height: 313px;
}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_title {
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    text-align: center;
    font-size: 26px;

}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_title::after {
    content: '';
    width: 80px;
    height: 1px;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_wrapper:nth-of-type(1)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_wrapper:nth-of-type(1) {
    float: left;
    width: 35%;
    margin: 50px 0px 30px 30px;
    display: grid;
    color: #FFFFFF;
}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_wrapper:nth-of-type(2) {
    float: right;
    width: 42%;
    margin: 70px 30px 30px 0px;
    display: grid;
    color: #FFFFFF;
}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_wrapper:nth-of-type(1)>span {
    margin: 6px 0px 0px 0px;
    line-height: 30px;
}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_wrapper:nth-of-type(1)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_wrapper:nth-of-type(2)>span {
    margin: 6px 0px 0px 0px;
    line-height: 30px;
}

.page_content_left1>.content3>.content3_main>.single_box3>.single_box3_wrapper:nth-of-type(2)>span:nth-of-type(1) {
    font-size: 22px;

}

.page_content_left1>.content3>.content3_main>.single_box4 {
    position: relative;
    width: 100%;
    background-color: #e4f2ff;
    margin: 50px 0px 50px 0px;

}

.page_content_left1>.content3>.content3_main>.single_box4>.single_box4_title {
    display: block;
    text-align: center;
    font-size: 26px;
    margin: 0px 0px 30px 0px;

}

.page_content_left1>.content3>.content3_main>.single_box4>.single_box4_title::after {
    content: '';
    width: 80px;
    height: 1px;
    border-bottom: 2px solid rgb(0, 0, 0);
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.page_content_left1>.content3>.content3_main>.single_box4>.single_box4_wrapper>img {
    display: grid;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.page_content_left1>.content3>.content3_main>.single_box4>.single_box4_wrapper>span:nth-of-type(1) {}

.page_content_left1>.content3>.content3_main>.single_box4>.single_box4_wrapper {
    width: 100%;
    height: 500px;
    display: grid;
}

.page_content_left1>.content3>.content3_main>.single_box4>.single_box4_wrapper>span {
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    color: rgb(82, 82, 82);
}

.page_content_left1>.content4>.content4_main {
    width: 100%;
    overflow: hidden;
}

.page_content_left1>.content4>.content4_main>.single_box4 {
    width: 90%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 150px;
    margin: 0 auto;
    overflow: hidden;
}

.page_content_left1>.content4>.content4_main>.single_box4>span {
    margin-top: 20px;
}

.page_content_left1>.content5>.content5_main>.single_box_teacher {
    width: 20%;
    float: left;
    margin: 0px 0px 0px 40px;
}

.page_content_left1>.content5>.content5_main>.single_box_teacher>img {
    margin: 10px 0px 0px 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #eeeeee;
    overflow: hidden;
    float: left;
}

.page_content_left1>.content5>.content5_main>.single_box_content {
    float: left;
    width: 70%;
}

.page_content_left1>.content5>.content5_main>.single_box_content>.single_box_title {
    margin-top: 20px;
    width: 100%;
    color: #1999da;
    font-size: 20px;
}

.page_content_left1>.content5>.content5_main>.single_box_content>.single_box_word {
    margin-top: 20px;
    display: block;
    width: 100%;
    word-break: break-all;
    height: 50%;
    color: rgb(116, 116, 116);

}

.page_content_left1>.content5 {
    overflow: hidden;
    margin: 0px 0px 50px 0px;
}

.page_content_left1>.content5>.content5_main {}

.color_box_black {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid #000 1px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(45deg);
    /* Opera */
}

.page_content_left2>.content0 {
    margin: 30px 0px 0px 0px;
}

.content2_title {
    position: relative;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
}

.content2_title>.color_box_black:nth-of-type(1) {
    float: left;
    margin-top: 15px;
}

.content2_title::before {
    border-bottom: solid rgb(87, 87, 87) 1px;
    content: '';
    width: 20%;
    height: 2px;
    left: -20%;
    position: absolute;
    top: 19px;
}

.content2_title>.contet2_content {
    position: relative;
    top: -50%;
    text-align: center;
    padding-left: 10%;
    float: left;
    display: block;
    width: 80%;
}

.content2_title>.color_box_black:nth-of-type(3) {
    float: right;
    margin-top: 15px;
}

.content2_title::after {
    border-bottom: solid rgb(87, 87, 87) 1px;
    content: '';
    width: 20%;
    height: 2px;
    right: -20%;
    position: absolute;
    top: 19px;
}

.page_content_left2>.content0>.content0_main {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    background-color: #e4f2ff;
    margin: 30px 0px 30px 0px;
}

s .page_content_left2>.content0>.content0_main>img {
    height: 305px;
}

.page_content_left2>.content0>.content0_main>.single_box {}

.page_content_left2>.content0>.content0_main>.single_box>.single_box_left {
    position: relative;
    height: 40%;
    margin: 5% 10% 5% 10%;
    display: grid;
}

.page_content_left2>.content0>.content0_main>.single_box>.single_box_left>span:nth-of-type(1) {
    color: #000;
    font-size: 20px;
}

.page_content_left2>.content0>.content0_main>.single_box>.single_box_left>span:nth-of-type(1)::before {
    content: '';
    background: url("../img/specialSourse/3/img_0011s_0000s_0002_挑战.png") no-repeat;
    height: 16px;
    width: 16px;
    display: block;
    float: left;
    position: absolute;
    left: -20px;
    top: 15px;
}

.page_content_left2>.content0>.content0_main>.single_box>.single_box_wrapper>.single_box_left>span {
    float: left;
    margin: 10px 0px 0px 0px;
    color: rgb(112, 112, 112);

}

.page_content_left2>.content1>.content1_main {
    width: 100%;
    display: grid;
    position: relative;
    left: 10%;
    grid-template-columns: 40% 40%;
    margin: 0px 0px 30px 0px;
}

.page_content_left2>.content1>.content1_main>.single_box {}

.page_content_left2>.content1>.content1_main>.single_box>.single_box_wrapper {
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-rows: 70px 70px 50px;
    margin-top: 30px;
}

.page_content_left2>.content1>.content1_main>.single_box>.single_box_wrapper>span:nth-of-type(1) {
    font-size: 24px;
}

.page_content_left2>.content1>.content1_main>.single_box:nth-of-type(1) {
    /* border: solid #000 1px; */
    border-bottom: solid rgb(177, 177, 177) 1px;
    border-right: solid rgb(177, 177, 177) 1px;
}

.page_content_left2>.content1>.content1_main>.single_box:nth-of-type(2) {
    border-bottom: solid rgb(177, 177, 177) 1px;
}

.page_content_left2>.content1>.content1_main>.single_box:nth-of-type(3) {
    border-right: solid rgb(177, 177, 177) 1px;
}

.page_content_left2>.content2>.content2_main {
    width: 100%;

}

.page_content_left2>.content2>.content2_main>.single_box {
    display: grid;
    grid-template-columns: 60% 40%;
}

.page_content_left2>.content2>.content2_main>.single_box>.single_box_wrapper {
    padding: 30px;
}

.page_content_left2>.content2>.content2_main>.single_box>.single_box_wrapper>span {
    margin-bottom: 30px;
    display: block;
    font-size: 16px;
    line-height: 30px;
}

.page_content_left2>.content3>.content3_main {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 100%;
}

.page_content_left2>.content3>.content3_main>.single_box {
    display: grid;
    grid-template-rows: 50% 50%;
}

.page_content_left2>.content3>.content3_main>.single_box>.single_box_wrapper {
    padding: 30px;
    display: block;

}

.page_content_left2>.content3>.content3_main>.single_box>.single_box_wrapper>span:nth-of-type(1) {
    margin-bottom: 15px;
    display: block;
    font-size: 20px;
    font-family: '黑体';
}

.page_content_left2>.content3>.content3_main>.single_box>.single_box_wrapper>span:nth-of-type(2) {
    display: block;
    line-height: 30px;
    font-size: 16px;
    color: rgb(71, 71, 71);
}

.page_content_left2>.content4>.content4_main {
    position: relative;
    width: 100%;
}

.page_content_left2>.content4>.content4_main>.single_box {

    height: 529px;
    width: 584px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background: url("../img/specialSourse/3/img_0007s_0000_饼图.png") no-repeat;
}

.page_content_left2>.content4>.content4_main>.single_box>span {
    position: absolute;
    color: rgb(42, 49, 148);
    font-size: 22px;
}

.page_content_left2>.content4>.content4_main>.single_box>span:nth-of-type(1) {
    left: 10%;
    top: 28%;
}

.page_content_left2>.content4>.content4_main>.single_box>span:nth-of-type(2) {
    left: 55%;
    top: -5%;

}

.page_content_left2>.content4>.content4_main>.single_box>span:nth-of-type(3) {
    left: 85%;
    top: 42%;

}

.page_content_left2>.content4>.content4_main>.single_box>span:nth-of-type(4) {
    left: 30%;
    top: 95%;

}
.page_content_left2>.content5>.content5_main{
    position: relative;
    left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,18%)
}
.page_content_left2>.content5>.content5_main>.single_box{
    padding: 10px;
    word-break: normal;	overflow-wrap: break-word; 
}
.page_content_left2>.content5>.content5_main>.single_box>img{
    display: block;
    margin:  0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.page_content_left2>.content5>.content5_main>.single_box>.single_box_content{

}
.page_content_left2 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    /* display: none; */
}

.page_content_left3 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left4 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left5 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left6 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left7 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left8 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left9 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.page_content_left10 {
    background-color: #ffffff;
    float: left;
    width: 100%;
    margin: 0px 0px 0px 0px;
    display: none;
}

.left_banner {
    width: 100%;
}

.left_banner>img {
    width: 100%;
}

.page_content>.page_content_main>.page_content_right {
    background: #ffffff;
    margin: 20px 0px 0px 0px;
    float: left;
    width: 26%;

}

.source_teacher {
    margin: 15px 10px 5px 10px;
}

.teacher_title {
    height: 24px;
    border-left: 5px solid #1c75bc;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding-left: 8px;
    font-weight: bold;
}

.teacher_logo>img {
    margin: 10px 0px 0px 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #eeeeee;
    overflow: hidden;
    float: left;
}

.teacher_logo {
    overflow: hidden;
}

.teacher_info {
    margin: 20px 0px 0px 20px;
    float: left;

}

.teacher_info>span {
    display: block;
}

.teacher_info>span:last-of-type {
    color: rgb(155, 155, 155);
}

.sign {
    width: 120px;
    height: 35px;
    background-color: #d8edff;
    border: solid 1px #1c75bc;
    font-size: 16px;
    line-height: 35px;
    color: #0d63a8;
    text-align: center;
    vertical-align: middle;
    margin: 15px 10px 5px 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.sign:hover {
    width: 120px;
    height: 35px;
    background-color: #004077;
    border: solid 1px #ffffff;
    font-size: 16px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin: 15px 10px 5px 20px;
}

.source {
    margin: 15px 10px 5px 10px;

}

.source_title {
    height: 24px;
    border-left: 5px solid #1c75bc;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding-left: 8px;
    font-weight: bold;
}

.source_content {
    margin: 10px 0px 0px 10px;
    overflow: hidden;
}

.source_content_box {
    margin-top: 10px;
    overflow: hidden;
}

.source_content_box>img {
    width: 90px;
    height: 65px;
    border-radius: 5px;
    float: left;
}

.source_content_box>a>div {
    vertical-align: middle;
    float: left;
    width: 160px;
    overflow: hidden;
    margin: 20px 0px 0px 10px;
}

.teacher_number {
    margin: 15px 10px 5px 20px;
    color: #1c75bc;
}

.live {
    margin: 15px 10px 30px 10px;
}

.live_title {
    height: 24px;
    border-left: 5px solid #1c75bc;
    font-family: 'Microsoft YaHei';
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    padding-left: 8px;
    font-weight: bold;
}

.live_content {
    margin: 10px 0px 0px 10px;
}

.target {
    margin: 0px 0px 0px 20px;
}

.target_title {
    background: url("../img/specialSourse/kun.png") no-repeat;
    background-size: cover;
    width: 196px;
    height: 37px;
    margin-top: 28px;
    font-size: 18px;
    line-height: 37px;
    color: #ffffff;
    padding-left: 8px;
}

.target_content {
    width: 100%;
    overflow: hidden;
}

.target_content>div {
    width: 125px;
    display: inline-block;
    height: 36px;
    background-color: #89cbff;
    border-radius: 18px;
    font-size: 16px;
    line-height: 36px;
    color: #333333;
    text-align: center;
    margin-right: 17px;
    margin-top: 24px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.target_content>div:hover {
    width: 125px;
    display: inline-block;
    height: 36px;
    background-color: #006cbe;
    border-radius: 18px;
    font-size: 16px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    margin-right: 17px;
    margin-top: 24px;
    cursor: pointer;
}

.foot_bot {
    min-width: 1280px;
}

.fb_top {
    /*width: 100%;*/
    width: 80%;
    height: 260px;
    background-color: #1c2836;
    padding: 0 10%;
    overflow: hidden;
}

.fb_top:after {
    display: block;
    content: "";
    clear: both;
}

.fb_QR {
    float: left;
    width: 20%;
    text-align: center;
    padding-top: 3%;
}

.contact {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
}

.contact_us {
    font-size: 10px;
    color: #caae8f;
}

.QRcode {
    display: inline-block;
    width: 128px;
    height: 128px;
    background-color: #ffffff;
    margin-top: 2%;
}

.scanner {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    margin-top: 2%;
}

.fb_table {
    float: left;
    width: 60%;
    height: 190px;
    font-size: 14px;
    color: #999999;
    margin: 25px auto;
}

.provide {
    font-size: 24px;
    color: #cccccc;
}

.fb_but {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #39424d;
    font-size: 12px;
    color: #999999;
}

.b_s_top_center [name~=b_s_top_center] {
    position: absolute;
}

.b_s_top_center_1 {
    width: 10%;
    bottom: 54%;
    left: 44%;
}

.b_s_top_center_2 {
    width: 8%;
    bottom: 52%;
    left: 55%;
}

.b_s_top_center_3 {
    width: 10%;
    bottom: 55%;
    left: 64%;
}

.b_s_top_center_4 {
    width: 8%;
    bottom: 53%;
    left: 75%;
}

.b_s_top_center_5 {
    width: 8%;
    top: 44%;
    left: 40%;
}

.b_s_top_center_6 {
    width: 11%;
    top: 45%;
    left: 49%;
}

.b_s_top_center_7 {
    width: 8%;
    top: 44%;
    left: 61%;
}

.b_s_top_center_8 {
    width: 11%;
    top: 44%;
    left: 70%;
}

.b_s_top_center [name~=b_s_top_center_click] {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 999;
    cursor: pointer;
}

.b_s_top_center [name~=b_s_top_center_click]:hover+div img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.b_s_top_center_hexagon {
    width: 100%;
}

/* 新增开始 */
@keyframes silder {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, -10px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


.ad_qrcode>div {
    opacity: 0;
    /*width: 150px;*/
    width: 0;
    height: 150px;
    position: absolute;
    bottom: 0;
    right: 80px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
}

.ad_qrcode>div:after {
    position: absolute;
    bottom: 30px;
    right: -10px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid #FFFFFF;
    border-top: 10px solid transparent;
    border-right: none;
    border-bottom: 10px solid transparent;
}

.ad_qrcode:hover>div {
    opacity: 1;
    width: 150px;
    overflow: visible;
}

.ad_qrcode>div>img {
    /*width: 150px;*/
    height: 100%;
}